<!DOCTYPE html>
{{template "headbar" .}}
		<div class="container">
			<div class="page-header">
				<h2>光辉历史</h2>
				<h4 class="text-muted">创建于高中时代</h4>
				<div class="container">
					<div class="jumbotron">
  					<h1>THWL</h1>
  					<h3><p align="middle">太好玩了 战队</p></h3>
  					<p><a class="btn btn-primary btn-lg" href="#" role="button">成员：</a></p>
					<h1><p align="middle"><a class="label label-success" href="/THWL/cy">子龙</a></p></h1>
					<h1><p align="middle"><a class="label label-success" href="/THWL/yq">叶青</a></p></h1>
					<h1><p align="middle"><a class="label label-success" href="/THWL/zj">仲炯</a></p></h1>
					<h1><p align="middle"><a class="label label-success" href="/THWL/xz">先知</a></p></h1>
					</div>
				</div>
			</div>
			</div>
<div>
	<br> </br>
	<br> </br>
	<br> </br>
	<br> </br>
</div>
		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>